@import "plugins"

.container
  div.alert
    padding: 0
    margin-bottom: 0
    -webkit-transition-property: all
    transition-property: all

    &.in
      padding: 15px
      margin-bottom: 20px
